@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to KEA students</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">

        <a class="btn btn-primary" href="~/Events" role="button">EVENTS</a>
        <a class="btn btn-primary" href="~/Volunteer" role="button">VOLUNTEERS</a>
        <a class="btn btn-primary" href="~/api/tasks" role="button">API get tasks</a>

    </div>
        <div class="col"></div>

  </div>
</div>